<launch>

  <arg name="output" default="screen"/>

  <!-- =================================================================================
                        Launch Predicator
       ================================================================================= -->

  <!-- touching, etc. -->
  <include file="$(find predicator_collision)/launch/pegs_interaction_predicates_test.launch">
    <arg name="output" value="$(arg output)"/>
  </include>

  <!-- left, right, up, down, etc. -->
  <include file="$(find predicator_geometry)/launch/pegs_geometry_predicates_test.launch">
    <arg name="output" value="$(arg output)"/>
  </include>

  <include file="$(find predicator_fake_classification)/launch/pegs_classification_predicates_test.launch">
    <arg name="output" value="$(arg output)"/>
  </include>

  <include file="$(find predicator_movement)/launch/pegs_movement_predicates_test.launch">
    <arg name="output" value="$(arg output)"/>
  </include>

  <include file="$(find predicator_joint_states)/launch/wams.launch">
    <arg name="output" value="$(arg output)"/>
  </include>

  <!-- predicator core: test to determine if something has happened -->
  <node name="predicator_core" pkg="predicator_core" type="core.py"/>

</launch>
