<launch>
  <arg name="output" default="screen"/>


  <node name="get_dense_binary_features_node"
    type="get_dense_binary_features.py"
    pkg="peg_assist_demo">

    <rosparam param="geometry_frames">
      - ring1/ring_link
      - peg1/base_link
      - peg1/peg_top_link
      - peg2/base_link
      - peg2/peg_top_link
      - wam/wrist_palm_link
      - wam2/wrist_palm_link
      - stage_link
    </rosparam>

    <rosparam param="geometry_reference_frames">
      - ring1/ring_link
      - peg1/peg_top_link
      - peg2/peg_top_link
    </rosparam>

    <rosparam param="movement_frames">
      - ring1/ring_link
      - peg1/base_link
      - peg2/base_link
      - wam/wrist_palm_link
      - wam/base_link
      - wam2/base_link
      - stage_link
    </rosparam>

  </node>

</launch>
