<launch>

  <arg name="gui" default="false" doc="(bool) Launch the gazebo GUI"/>
  <arg name="hand" default="true" doc="(bool) Launch the robot with a hand"/>
  <arg name="log_level" default="5" doc="(int) orocos log level"/>
  <arg name="debug" default="false" doc="(bool) in debug mode"/>
  <arg name="rviz" default="true" doc="(bool) run rviz"/>
  <arg name="rviz_config" default="$(find peg_assist_demo)/config/observe_only.rviz" doc="(string) rviz config file for user interface"/>
  <arg name="rqt_barrett_arm1" default="false" doc="(bool) show rqt barrett UI for user-controlled arm" />
  <arg name="rqt_barrett_arm2" default="false" doc="(bool) show rqt barrett UI for algorithm-controlled arm" />
  <arg name="console" default="false" doc="(bool) bring up the rqt console"/>
  <arg name="smach_viewer" default="false" doc="(bool) bring up the smach viewer"/>
  <arg name="rviz_moveit_namespace" default="true" doc="(bool) are we using a version of moveit with an rviz plugin letting you namespace move_group"/>
  <arg name="alternate_pegs" default="false" doc="(bool) Launch with alternate set of pegs"/>

  <include file="$(find peg_assist_demo)/launch/pegs1_auto.launch">
    <arg name="gui" value="$(arg gui)"/>
    <arg name="hand" value="$(arg hand)"/>
    <arg name="log_level" value="$(arg log_level)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="rviz" value="$(arg rviz)"/>
    <arg name="rviz_config" value="$(arg rviz_config)"/>
    <arg name="rqt_barrett_arm1" value="$(arg rqt_barrett_arm1)"/>
    <arg name="rqt_barrett_arm2" value="$(arg rqt_barrett_arm2)"/>
    <arg name="console" value="$(arg console)"/>
    <arg name="smach_viewer" value="$(arg smach_viewer)"/>
    <arg name="rviz_moveit_namespace" value="$(arg rviz_moveit_namespace)"/>
    <arg name="alternate_pegs" value="$(arg alternate_pegs)"/>
  </include>

  <!-- TASK MODEL STUFF -->
  <include file="$(find peg_assist_demo)/launch/bringup_auto_task.launch">
    <arg name="smach_viewer" value="$(arg smach_viewer)"/>
    <arg name="bringup_arm1" value="true"/>
  </include>

  <!-- WORLD STUFF -->
  <include file="$(find peg_assist_demo)/launch/bringup_grasp_points.launch"/>
  <include file="$(find peg_assist_demo)/launch/bringup_move_points.launch"/>

  <!-- PREDICATOR STUFF HERE -->
  <include file="$(find peg_assist_demo)/launch/bringup_predicator.launch">
    <arg name="output" value="log"/>
  </include>

  <include file="$(find peg_assist_demo)/launch/bringup_rviz.launch">
    <arg name="debug" value="$(arg debug)"/>
    <arg name="rviz_config" value="$(arg rviz_config)"/>
    <arg name="rviz_moveit_namespace" value="$(arg rviz_moveit_namespace)"/>
  </include>

</launch>
