<launch>

  <arg name="gui" default="false" doc="(bool) Launch the gazebo GUI"/>
  <arg name="hand" default="true" doc="(bool) Launch the robot with a hand"/>
  <arg name="usetwo" default="true" doc="(bool) Use two WAM arms instead of one"/>
  <arg name="log_level" default="1" doc="(int) orocos log level"/>
  <arg name="debug" default="false" doc="(bool) in debug mode"/>
  <arg name="rviz" default="true" doc="(bool) run rviz"/>
  <arg name="rviz_config" default="$(find peg_assist_demo)/config/peg1.rviz" doc="(string) rviz config file for user interface"/>
  <arg name="rqt_barrett_arm1" default="false" doc="(bool) show rqt barrett UI for user-controlled arm" />
  <arg name="rqt_barrett_arm2" default="false" doc="(bool) show rqt barrett UI for algorithm-controlled arm" />
  <arg name="console" default="false" doc="(bool) bring up the rqt console"/>
  <arg name="smach_viewer" default="false" doc="(bool) bring up the smach viewer"/>
  <arg name="rviz_moveit_namespace" default="true" doc="(bool) are we using a version of moveit with an rviz plugin letting you namespace move_group"/>

  <node if="$(arg console)"
    name="rqt_console" type="rqt_console" pkg="rqt_console">
  </node>

  <!-- load the WAM arm settings, space nav controller, and user interface -->
  <include file="$(find collab_spacenav)/launch/spacenav_rostopics.launch">
    <arg name="usetwo" value="false"/>
  </include>
  <include file="$(find collab_env)/launch/test7_pegs.launch">
    <arg name="gui" value="$(arg gui)" />
    <arg name="hand" value="$(arg hand)" />
    <arg name="log_level" value="$(arg log_level)" />
    <arg name="debug" value="$(arg debug)"/>
    <arg name="rviz" value="false" />
    <arg name="rviz_config" value="$(arg rviz_config)" />
    <arg name="usetwo" value="$(arg usetwo)" />
    <arg name="rqt_barrett_arm1" value="$(arg rqt_barrett_arm1)" />
    <arg name="rqt_barrett_arm2" value="$(arg rqt_barrett_arm2)" />
    <arg name="planning_arm2" value="true" /> <!-- start MoveIt for the second arm -->
    <arg name="run_script_arm2" value="false" />
  </include>

  <!--
  <node name="arm2_joint_script_runner"
    pkg="collab_env"
    type="run_controllers.py"
    args="/gazebo/wam2__deployer__ $(find collab_env)/sim/enable/arm2_enable_joint.ops"
    output="screen">
  </node>
  -->

  <!-- TASK MODEL STUFF -->
  <include file="$(find peg_assist_demo)/launch/bringup_task.launch">
    <arg name="smach_viewer" value="$(arg smach_viewer)"/>
  </include>

  <!-- PREDICATOR STUFF HERE -->
  <include file="$(find peg_assist_demo)/launch/bringup_predicator.launch">
    <arg name="output" value="log"/>
  </include>

  <include file="$(find peg_assist_demo)/launch/bringup_rviz.launch">
    <arg name="debug" value="$(arg debug)"/>
    <arg name="rviz_config" value="$(arg rviz_config)"/>
    <arg name="rviz_moveit_namespace" value="$(arg rviz_moveit_namespace)"/>
  </include>

</launch>
