<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="peg">
  <link name="peg_link">
    <visual>
      <geometry>
        <cylinder length="0.5" radius="0.05"/>
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
  </link>
  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.1 0.6 0.6"/>
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
   </link>
  <joint name="base_to_peg" type="fixed">
    <parent link="base_link"/>
    <child link="peg_link"/>
    <origin xyz="0.1 0.3 0.3"/>
  </joint>

  <xacro:peg prefix="$(arg prefix)" parent_link="world" xyz="$(arg xx) $(arg yy) 0" rpy="0 0 0"/>

</robot>
