<launch>

  <arg name="gui" default="false" doc="(bool) Launch the gazebo GUI"/>
  <arg name="hand" default="true" doc="(bool) Launch the robot with a hand"/>
  <arg name="log_level" default="1" doc="(int) orocos log level"/>
  <arg name="debug" default="false" doc="(bool) in debug mode"/>

  <!-- start the spacenav 3d mouse -->
  <node pkg="spacenav_node" type="spacenav_node" name="spacenav_node" />

  <node pkg="lcsr_tf_tools" type="twist_frame_integrator.py" name="spacenav_tf_integrator" >
    <param name="child_frame_id" value="/world"/>
    <param name="frame_id" value="wam/cmd"/>
    <param name="linear_multiplier" value="0.00001"/>
    <param name="angular_multiplier" value="0.00001"/>
    <param name="broadcast_rate" value="60"/>
    <param name="body_fixed" value="0"/>
    <remap from="twist" to="/spacenav/twist"/>
  </node>

  <!--<node pkg="tf" type="static_transform_publisher" name="wam_cmd_world_tf" args="0 0 0 0 0 0 /wam/cmd /world"/>-->

  <include file="$(find lcsr_barrett)/sim/wam7_sim_ik.launch" >
    <arg name="gui" value="$(arg gui)" />
    <arg name="hand" value="$(arg hand)" />
    <arg name="log_level" value="$(arg log_level)" />
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find collab_env)/config/tf.rviz" />

</launch>
