<launch>
  <!--
    This launchfile brings up a single 7-DOF WAM robot in the gazebo simulator from the lcsr_barrett package.
    -->
  <include file="$(find lcsr_barrett)/sim/wam7_sim_ik.launch" />

  <!-- start the spacenav 3d mouse -->
  <node pkg="spacenav_node" type="spacenav_node" name="spacenav_node" />

  <node pkg="lcsr_spacenav" type="spacenav_tf_node" name="spacenav_tf_node" />

</launch>
